@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato-Regular";
  src: url("./fonts/Lato-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "SourceSerifPro-Bold";
  src: url("./fonts/SourceSerifPro-Bold.ttf") format("ttf");
}
